*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 100%;
    margin: 15px auto 0px auto;
    background: linear-gradient(#003973,#e5e5be);
    display: flex;
    align-items: center;
    overflow:auto;
    background-attachment: fixed;
    height:fit-content ;
    flex-direction: column;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 10px;
}
#header h1{
    color:white;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
#header ul li{
    display: inline-block;
    margin: 0 6px;
}
#header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#header a button{
    border: none;
    outline: none;
    padding: 15px 15px;
    border-radius: 100%;
    background: #082256;
    cursor: pointer;
}
#header a button:hover{
    background: #003973;
}
#header a img{
    width: 30px;
    height: 30px;
    filter:invert(100%);
} 
#header ul li a:hover{
    color:#031e39
}
#header #Search{
    text-align: center;
}
#header #Search .search-input{
    padding: 10px;
    width: 300px;
    font-size: 1em;
    border-radius: 15px;
}
.Upper{
    width: 90%;
    height: 90%; 
    background: rgba(255, 255,255,0.1); 
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
}
.Content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}
.Section{
    text-align: left;
    margin-bottom: 2px;
    margin-top: 0;
    padding: 50px;
    padding-bottom: 10px;
    color: #fff;
}
.Content .Product{
    width: 20%;
    height: auto;
    background: #ffffff00;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Content .Product:hover{
    color:#05111c
}
.Content .Product .image{
    max-width: 100%;
    height: 200px;
}
.Content .Product .button2{
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: #031e39;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.Content .product .button2:hover{
    background: #2f5984;
}
.Content .Product {
    padding: 15px;
    text-align: center;
    color: #fff;
    background-color: #003973;
    border-radius: 10px;
    margin: auto;
}
.Content .product .product-info .image{
    border-radius: 10px;
}
.Content .product .product-info .name{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
.Content .product .product-info .old{
    text-decoration: line-through;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Content .product .product-info .new{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.About{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#login-container {
    width: 300px;
    margin: 85px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login-container h2 {
    text-align: center;
    color: #003973;
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 5px;
    color: #003973;
}

#login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #003973;
    border-radius: 5px;
}

#login-form button {
    padding: 10px;
    background: #003973;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background: #002659;
}
#signup-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#signup-container h2 {
    text-align: center;
    color: #003973;
    margin-bottom: 20px;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#signup-form label {
    margin-bottom: 5px;
    color: #003973;
}

#signup-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #003973;
    border-radius: 5px;
}

#signup-form button {
    padding: 10px;
    background: #003973;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signup-form button:hover {
    background: #002659;
}
#about-container {
    width: 80%;
    margin: 175px auto;
    padding: 20px;
    background: rgba(255, 255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#about-container h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

#about-content {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
footer {
    background: #031e39;
    color: #fff;
    position: relative;
    margin-top: 60px;
    width: 100%;
    bottom: 0;  
}
footer h1,.social-links{
    letter-spacing: 3px;
    text-align: center;
    margin-right: 300px;
    margin-top: 40px;
}

.contact-info, .social-links {
    margin-top: 50px;
    margin-left: 20px;
}

.contact-info h3, .social-links h3 {
    margin-bottom: 10px;
}
.contact-info{
    float: left;
    margin-bottom: 50px;
}

.contact-info p {
    margin: 5px 0;
}
.social-links{
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0px 10px;
    
}
.social-links a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}